@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

body, html {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.icon-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.title-info {
  font-size:22px;
  text-align: center;
}

.details-info {
  width: 100px;
  margin: auto;
}

.list-info {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 13px;
  width: 50px;
}

.star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 5px;
}

.description {
  width: 90%;
  margin: auto;
}

.description-title {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.description-info {
  color: #838181;
  font-size: 12px;
  text-align: left;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-buy {
  text-align: center;
}

.loading {
  height: 50vh;
  background: black;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

